.table-cell-base {
  flex: 100 0 auto;
  width: 100px;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-cell {
    @extend .table-cell-base;
    text-align: center;
  }
}

.table-content {
  .table-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-cell {
      @extend .table-cell-base;
    }
  }
}
