$table-color: $dark-blue-neutral;

.table-cell-base {
  flex: 100 0 auto;
  width: 100px;
  border-right: 1px solid $table-color;
  border-left: 1px solid $table-color;
  padding: 1rem;
}

.table-base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-wrap: break-word;
  white-space: pre-wrap;

  &:nth-child(odd) {
    background-color: $dark-blue-neutral;
  }
}

.table {
  color: #fff;

  &::-webkit-scrollbar:horizontal {
    width: 11px;
  }

  &-header {
    font-weight: 600;
    font-size: 16px;
    @extend .table-base;
    background-color: $dark-blue-darker !important;

    &-cell {
      @extend .table-cell-base;
      text-align: center;
    }
  }

  &-content {
    .table-row {
      @extend .table-base;
      font-size: 14px;

      &-cell {
        @extend .table-cell-base;
      }
    }
  }
}

@media (max-width: 1024px) {
  .table {
    width: 1200px;
  }
  .table-cell-base {
    width: 200px;
  }
}
