.table-cell-base {
  flex: 100 0 auto;
  width: 100px;
  border-right: 1px solid $gray;
  padding: 1rem;

  &:first-child {
    border-left: 1px solid $gray;
  }
}

.table-base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $gray;
  border-top: 1px solid $gray;
}

.table {
  color: #fff;
  &-header {
    @extend .table-base;

    &-cell {
      @extend .table-cell-base;
      text-align: center;
    }
  }

  &-content {
    .table-row {
      @extend .table-base;

      &-cell {
        @extend .table-cell-base;
      }
    }
  }
}
